* {
    margin: 0%;
    padding: 0%;
}

.navbar {
    width: 100%;
    height: 90px;
    background-color: antiquewhite;
}

.tripadviser {
    width: 189px;
    height: 60px;
}

body {

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    width: 100%;
}
.navbar{
    display: flex;
}
#search{
    margin-top: 20px;
}
.searchbar,.header-buttons{
    margin-top: 20px;
}
.header-buttons{
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
.discover{
    text-underline-offset: none;
}
.world{
    width: 16px;
    margin-right:3px;
}
.oo,.ooo,.oop{
    font-weight: bold;
    
    padding:5px;
    font-size: 12px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.oop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ooo{
color: white;
background-color: black;

font-weight: bolder;
}

.oop:hover{
    background-color:rgb(192, 181, 181);
}
.ooo:hover{
    background-color: grey;
}
.oo:hover{
    background-color: rgb(206, 190, 190);
}
.searchbar{
    background-color: aqua;
    width: 40%;
    height: 30px;
    border: 2px solid rgb(114, 111, 111);
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.searchbar input{
    width: 100%;
    background-color: transparent;
    border: none;

}